.home-section {
  background: #122b49;
  height: 90vh;
}

.header-heading {
  width: 85%;
  margin: 0 auto;
  padding: 3rem 0;
  color: #fff;
}

.header-heading h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40.22px;
  margin: 0;
}

.header-heading p {
  font-size: 16px;
  font-weight: 300;
  line-height: 20.11px;
  width: 821px;
}

.bottom-contents {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
}

.left-contents .left-content-heading h4 {
  font-size: 20px;
  line-height: 25.14px;
  font-weight: 400;
}

.left-contents .left-content p {
  font-size: 14px;
  margin: 0;
  font-weight: 600;
  line-height: 17.6px;
}

.left-contents .left-content p img {
  width: 12%;
  height: 12%;
}

.right-content-container {
  width: 608px;
  height: 376px;
  gap: 0px;
  border-radius: 16px 0px 0px 0px;
  border: 1px solid #d6d6d6;
  opacity: 0px;
  background: #fff;
  position: relative;
}

.right-content-container .right-content-header {
  width: 607px;
  height: 68px;
  padding: 8px 68px 0px 68px;
  gap: 32px;
  opacity: 0px;
  background: #fcf8f4;
  border-radius: 16px 0px 0px 0px;
}

.right-content-header h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 25.14px;
  text-align: left;
  color: #000;
  margin: 0;
}

.right-content-container .right-content-footer {
  width: 607px;
  height: 68px;
  position: absolute;
  top: 308px;
  padding: 10px 32px 10px 32px;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
  background: #fcf8f4;
}

.right-content-footer p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  margin: 0;
  color: #000;
}

.right-content-footer p span {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  text-align: left;
}

.right-content-footer button {
  width: 110px;
  height: 32px;
  color: #fff;
  opacity: 0px;
  background: #122b49;
}

.right-content-footer button:hover {
  background: #122b49;
  color: #fff;
}

.right-content-form {
  width: 100%;
  height: 270px;
  top: 108px;
  left: 68px;
  gap: 60px;
  opacity: 0px;
}

.content-container label {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
}

.phone-or-email .or {
  font-weight: 500;
  font-size: 18px;
}
